/*=======================================*/
/* PARTE DE CIMA DO SITE */
/*=======================================*/

.cabecalho-principal {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    
    height: 85px; 
    padding: 0 40px; 
    border-bottom: 1px solid #ffffff;
}

.logo {
    display: flex;
    align-items: center; 
}

.logo-icone {
    width: 85px; 
    height: 60px;
    margin-right: 15px; 
}

#titulo-texto {
    font-size: 2.2em;
    font-weight: 400px; 
    padding-bottom: 3px;
    
    transform: translateY(-2px); 
}

.menu-principal {
    display: flex; 
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 35px; 
}

.menu-principal li a {
    display: flex;
    align-items: center; 
    text-decoration: none; 
    color: inherit; 
    font-size: 1.05em;
}

.menu-principal li img {
    width: 25px; 
    height: 25px; 
    margin-right: 8px;
}

.chamada {
    align-items: center;
    font-weight: 400px;
}



/* ========================================== */
/*  PARTE DO MEIO DO SITE JUNTO COM A FOTO
/* ========================================== */

.hero-section {
    
    height: 400px; 
    width: 100%;
    
    
    background-image: url('../img/estacionamento.avif');
    background-size: cover; 
    background-position: center; 
    
    
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    
    position: relative; 
    z-index: 1; 
    color: white; 
    text-align: center;
}


.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 0; 
}

.hero-title, .email-input, .promo-text {
    z-index: 2; 
    margin-bottom: 20px;
}

.hero-title {
    font-size: 2.5em;
    font-weight: 700;
    max-width: 60%; 
}

.email-input {
    padding: 15px 20px;
    width: 300px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}

.promo-text {
    font-size: 1.1em;
    font-weight: 400;
}


/*=====================================================
PARTE DE BAIXO DO SITE
=======================================================*/

.baixo img {
    margin-right: 0px;
    justify-content: center;
    text-align: center;
    height: 35px;
    width: 35px;
    margin-left: 100px;
    margin-right: 10px;
    margin-top: 30px;
    
}

.botao-verde {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(2, 216, 2);
    color: #ffffff;
    border-radius: 10px;
    font-weight: normal;
    margin: 35px auto 0 auto;
    margin-left: 440px;
    margin-right: 100;
    align-items: center;

}


.texto-final {
    text-align: center;
    background-color: #E0E2E0;
    color: rgba(0, 0, 0, 0.719);
    margin-top: 20px;

}









/*===========================================*/
/* Celular e Tablete (Sistema)
/*===========================================*/






/* ----------------------------- Fim do Sistema ---------------------------------- */
/* FIM DO CSS