
.cabecalho-principal {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    
    height: 85px; 
    padding: 0 40px; 
    border-bottom: 1px solid #ffffff;
}

.logo {
    display: flex;
    align-items: center; 
}

.logo-icone {
    width: 85px; 
    height: 60px;
    margin-right: 15px; 
}

#titulo-texto {
    font-size: 2.2em;
    font-weight: 400px; 
    padding-bottom: 3px;
    
    transform: translateY(-2px); 
}

.menu-principal {
    display: flex; 
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 35px; 
}

.menu-principal li a {
    display: flex;
    align-items: center; 
    text-decoration: none; 
    color: inherit; 
    font-size: 1.05em;
}

.menu-principal li img {
    width: 25px; 
    height: 25px; 
    margin-right: 8px;
}

.chamada {
    align-items: center;
    font-weight: 400px;
}










/* Celular e Tablete (Sistema)
=============================================*/

@media (max-width: 768px) {
    
    
    header {
       
        flex-wrap: wrap; 
        justify-content: center; 
        height: auto; 
    }

    nav ul {
        flex-direction: column; 
        margin-top: 15px; 
    }
    
    nav ul li {
        margin: 10px 0;
    }

}

/* ----------------------------- Fim do Sistema ---------------------------------- */


/* Fim do CSS